.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white !important;
    background: #007bff !important;
    font-weight: bold !important;
}

table.dataTable tbody td{
    white-space: nowrap !important;
    font-size: 15px;
}
.addNewRecord{
    background-color: #198754 !important;
    color: white !important;
}
.buttons-excel{
    background-color: #0C8128 !important;
    color: white !important;
}
.buttons-pdf{
    background-color: #83580e !important;
    color: white !important;
}

.buttons-print{
    background-color: #34495E !important;
    color: white !important;
}
.dt-buttons{
    padding-top: 5px !important;
    padding-bottom: 5px !important;

}
.sidebar-mini{
    height: 100vh !important;
}

.btn-azul{
    background-color: #1B7BE7 !important;
    color: white !important;
}
.btn-cafe{
    background-color: #DECE0F !important;
    color: white !important;
}
.btn-rojo{
    background-color: #dc3545 !important;
    color: white !important;
}