

table.dataTable > tbody > tr > th, 
table.dataTable > tbody > tr > td {
    padding: 0px 5px;
    color: #767676;
    /* white-space: normal!important; */
    /* text-align: center!important; */
    vertical-align: middle!important;
    
}



th{
    background-color: #455a64!important;
    text-align: center!important;
    color:white!important;
    vertical-align: middle!important;
    padding: 3px!important;
    font-size: 11px!important;
} 

table.dataTable > tbody > tr.child ul.dtr-details > li {
    padding: 0 0;

}
table.dataTable > tbody > tr.child {
    background-color: #E8F5E9;
}


div.dt-container .dt-paging .dt-paging-button {
    padding: 0.5em;
}

div.dt-container div.dt-paging ul.pagination {float: right;}

.page-item .page-link, .page-item span {border-radius: 5px!important;} 


table.dataTable tbody td {
    font-size: 11px!important;
}    

.form-control {
    border-radius: 4px!important;
    padding: 0.15rem 0.75rem!important;
    height: 1.8em!important;
    font-size: 13px!important;
}

::-webkit-input-placeholder {
    color: rgb( 44, 46, 255 );
    font-size: 12px;
}